/*===================== general =====================*/
* {
    background-color: rgb(230, 242, 246);
    font-family: Georgia,serif; 
    color: rgb(1, 44, 58);
}

article {
    margin: 1em auto;
    width: 80%;
}

footer {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

h1, h2 {
  text-align: center;
}

img {
    max-width: 100%;
}

nav ol {
    text-align: center;
}

nav ol li {
    display: inline-block;
    list-style-type: none;
    padding-right: 3em;
}

.mediumBackground {
    background-color: rgb(67, 171, 206);
}

.img-border{
    border: thick rgb(14, 109, 140) solid;
    padding: 1em;
}

.logo {
    border: none !important;
    max-width: 75%;
    margin: 0 auto;
}

.right-small {
    width: 200px;
    float: right;
}

.rounded-corners {
    border-radius: 0.4em;
}

/*===================== about authors =====================*/

.bioPhoto {
    display: inline-block;
    width: 100%;
    border: thin solid rgb(14, 109, 140);
    padding: 1em;
}

.authorBio figure {
    float: left;
    width: 250px;
    text-align: center;
}

#about-authors article p {
    display: inline-block;
    float: left;
    text-align: left;
    width: 60%;
}

/*===================== blog =====================*/
.blogPosts {
    border: thin rgb(14, 109, 140) solid;
    border-collapse: collapse;
    margin-top: 1em;
    padding: 1em;
    background-color: rgb(128, 207, 233);
}

.blogPosts figure {
    margin: 0;
}

.blogPosts figcaption {
    display: inline;
}

.blogPosts img {
    width: 50px;
}

.blogPosts p {
    background-color: rgb(128, 207, 233);
}

/*===================== sample texts =====================*/

#text1, #text3, #text5 {
    float: left;
    border: thin rgb(14, 109, 140) solid;
    display: inline-block;
    padding: 1em;
    width: 450px;
    height: 650px;
    margin: 2em;
}

#text2, #text4, #text6 {
    float: right;
    border: thin rgb(14, 109, 140) solid;
    display: inline-block;
    padding: 1em;
    width: 450px;
    height: 650px;
    margin: 2em;
}

/*===================== form =====================*/
#btnSubmit {
    border: thin outset rgb(14, 109, 140);
    border-radius: 1em;
    background-color: rgb(67, 171, 206);
}

#btnSubmit:active {
    border: thin inset rgb(14, 109, 140);
}

fieldset {
    border: thin rgb(14, 109, 140) solid;
    padding: 1em;
    margin: 1em;
}

input {
    border: 3px ridge rgb(14, 109, 140);
    background-color: rgb(128, 207, 233);
}

input:focus {
    background-color: rgb(128, 207, 233);
}

select {
    border: 3px ridge rgb(14, 109, 140);
    background-color: rgb(128, 207, 233);
}

select:focus {
    background-color: rgb(128, 207, 233);
}

textarea {
    border: 3px ridge rgb(14, 109, 140);
    background-color: rgb(128, 207, 233);
    
}

textarea:focus {
    background-color: rgb(128, 207, 233);
}
